body{
    margin:0;
}

.book-authors{
    color:dimgray;
}

.book-cover{
    width:200px;
    height:auto;
    display:grid;
    grid-row: 1 / 4;
}

.book-rating{
    font-size:125%;
}

.book-review-form{
    background-color:white;
    padding:24px;
}

.book-title{
    font-weight:bold;
    font-size:150%;
}

button{
    padding:12px;
    font-size:110%;
}

header{
    padding:12px;
    display:grid;
    grid-template-columns: auto 1fr; /*because one row and two columns*/
    column-gap:24px;
}

html{
    background-color:beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    border:1px solid darkgray;
    border-radius: 4px;
    padding:12px;
}

footer{
    background-color: burlywood;
    margin-top:24px;
    padding:24px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;
}

main{
    max-width:800px;
    margin:auto;
}

.main-page-book-review{
    color:white;
    border:1px solid lightblue;
    padding:24px;
    display:grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}

textarea{
    border:1px solid darkgray;
    border-radius:4px;
    padding:12px;
    height:100px;
}
